@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@layer base {
  :root {
    --font-bn: "Hind Siliguri", sans-serif;
    --font-en: "Poppins", sans-serif;
  }

  .font-en {
    font-family: var(--font-en);
  }

  .font-bn {
    font-family: var(--font-bn);
  }
}

.active {
  background-color: #422ad5;
  color: white;
}

.modal-action {
  justify-content: flex-start;
  gap: 0.5rem;
  margin-top: 1.5rem;
  display: flex;
}
